# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
.vscode

*.vcxproj
*.pdb
*.ilk
*.tlog
*.sln

CMakeSettings.json
CMakeFiles
cmake_install.cmake
Makefile
out

# CLion
.idea
cmake-build-debug
cmake-build-release

external/glfwlib
external/eigen-*
external/eigenlib
*.DS_Store  
build

*/main_ans.cpp
*/shader_ans.vert
*/shader_ans.frag

!assets/armadillo1.obj
!assets/bunny.obj
!assets/rb1.obj
!assets/rb2.obj
!assets/rb3.obj
!assets/rb4.obj

task09/cppmodule.cbp